
  
  
  /* my one  */
  .wrapper {
    padding: 10px;
  }

.items-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
  .t-head{
    display: flex;
    width: 150px;
    &> div {
      width: 50%;
    }
  }
  
  .t-body {
    display: flex;
    width: 150px;
    flex-direction: column;
    .item {
      display: flex;
      width: 100%;
      &> div {
      width: 50%;
    }
    }
  }
}
